<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>userAgentAdd</key>
	<string>gonative</string>
	<key>appName</key>
	<string>GoNative.io</string>
	<key>initialURL</key>
	<string>https://www.gonative.io</string>
	<key>menuLinkPrefix</key>
	<string></string>
	<key>checkNativeNav</key>
	<true/>
	<key>checkUserAuth</key>
	<false/>
	<key>checkCustomStyling</key>
	<true/>
	<key>checkNativeLoginSignup</key>
	<false/>
	<key>checkNativeLogin</key>
	<false/>
	<key>checkNativeSignup</key>
	<false/>
	<key>customCss</key>
	<string></string>
	<key>loginDetectionURL</key>
	<string></string>
	<key>loginDetectionURLnotloggedin</key>
	<string></string>
	<key>loginURL</key>
	<string></string>
	<key>loginURLfail</key>
	<string></string>
	<key>signupURL</key>
	<string></string>
	<key>signupURLfail</key>
	<string></string>
	<key>forgotPasswordURL</key>
	<string></string>
	<key>loginURLfailmsg</key>
	<string></string>
	<key>signupURLfailmsg</key>
	<string></string>
	<key>searchTemplateURL</key>
	<string>https://www.google.com/#q=</string>
	<key>menuURL</key>
	<string>not used</string>
	<key>menuAnimationDuration</key>
	<real>0.15</real>
	<key>menuRefreshURLs</key>
	<array/>
	<key>useWebpageTitle</key>
	<false/>
	<key>internalHosts</key>
	<array>
		<string>www.gonative.io</string>
		<string>gonative.io</string>
	</array>
	<key>numLoginFailsShowPassword</key>
	<integer>2</integer>
	<key>iosTintColor</key>
	<string></string>
	<key>iosTitleColor</key>
	<string>#000000</string>
	<key>androidSidebarBackgroundColor</key>
	<string></string>
	<key>androidSidebarForegroundColor</key>
	<string></string>
	<key>androidActionbarBackgroundColor</key>
	<string></string>
	<key>androidActionbarForegroundColor</key>
	<string></string>
	<key>enableChromecast</key>
	<false/>
	<key>showBranding</key>
	<true/>
</dict>
</plist>
