<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.gonative.android"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- wifi state required by crosswalk -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- permissions for push messages -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />

    <!-- additional permissions for parse push notifications -->
    <!-- start parse permissions -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- end parse permissions -->

    <application
        android:name=".GoNativeApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_actionbar"
        android:theme="@style/GoNativeTheme.WithActionBar" >

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <activity
            android:name="io.gonative.android.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--additional intent filters-->

            <!--example: -->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW"></action>-->
                <!--<category android:name="android.intent.category.DEFAULT"></category>-->
                <!--<category android:name="android.intent.category.BROWSABLE"></category>-->
                <!--<data android:scheme="http"></data>-->
                <!--<data android:scheme="https"></data>-->
                <!--<data android:host="gonative.io"></data>-->
                <!--<data android:pathPrefix="/"></data>-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name="io.gonative.android.WebFormActivity"
            android:label="@string/title_activity_web_form"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/GoNativeTheme.WithActionBar"
            android:configChanges="orientation|screenSize">
        </activity>

        <!-- Declaring FacebookActivity is only necessary for Login or Share, so it is not needed
        if we are only using analytics. However, declaring it does not harm and removes a warning. -->
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <!--
  WakefulBroadcastReceiver that will receive intents from GCM
  services and hand them to the custom IntentService.

  The com.google.android.c2dm.permission.SEND permission is necessary
  so only GCM services can send data messages for the app.
-->
        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="io.gonative.android" />
            </intent-filter>
        </receiver>

        <!-- For file sharing without having to use external permissions. -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <!-- Parse Integration -->
        <!-- start parse service -->
        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".GnParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        <!-- end parse service -->

        <!-- set icon for parse push notifications -->
        <meta-data android:name="com.parse.push.notification_icon" android:resource="@drawable/ic_notification"/>

        <!-- Handles OneSignal notification opened events -->
        <receiver android:name=".OneSignalReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.onesignal.NotificationOpened.RECEIVE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
